/* produkA */
body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f9f4;
    color: #333;
    line-height: 1.7;
}

h1, h2 {
    color: #1b3f6d;
}

section {
    padding: 40px 15%;
}

ul, ol {
    padding-left: 20px;
}

/* HEADER */
header {
    background: linear-gradient(135deg, #5c94d4, #4f8ab9);
    padding: 60px 20px;
    text-align: center;
    color: white;
}

.sub-header {
    font-size: 1.2em;
    margin-top: -10px;
    opacity: 0.9;
}

/* BOXES */
.price-box, .profit-box {
    background: #95b8d4;
    border-left: 6px solid #396ea0;
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
}

/* CLOSING */
.closing p {
    margin-bottom: 15px;
}


@media screen and (max-width: 768px) {
    section {
        padding: 30px 8%;
    }

    header {
        padding: 40px 10px;
    }
}
.main-content p{
    text-align: center;
    font-size: 20px;
}
.main-content a{
 background-color: #eff1f3;
 color: rgb(22, 2, 2);
}